@charset "utf-8";


html{
   font-size: 100%;
}

.container{
   max-width: 1000px;
   margin: 0 auto;
}


/**********/
/* header */
/**********/

header{
   margin: 0 auto;
}



#title img{
   width: 100px;
}


/**********/
/* main */
/**********/
h2{
   font-family: 'Courgette', cursive;
}